body {
  font-family: "Open Sans", sans-serif;
}

main {
  /* main as flex container */
  display: flex;
  /*     Min height 100vh means the element should occupy the web browser viewport height. 
    This is always 100 percent of the web browser's viewport height. */
  min-height: 100vh;
}

/* flex item of main */
aside {
  /* aside as flex container */
  display: flex;
 /*  align-items: center; */
  align-items: stretch;
  flex-direction: column;
  /* Platinium color */
  background-color: white;
  flex: 0 0 20%;
}


/* Inicio amigos */
.amigos {
    justify-content: space-between;
    border: solid 2px #E5E4E2;
    padding: 5px;
    display: flex; 
  }

  .amigos > section:nth-child(1) {
    width: 30%;
    justify-content: center;
    align-items: center;
    display: flex;    
  }

  .amigos > section:nth-child(1) > img {
    max-width: 60%;
    border-radius: 50%;
    height: auto;    
  }

  .amigos > section:nth-child(2) {
    width: 70%;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    height: 50px;
  }

  .amigos > section:nth-child(2) > h2 {
  font-size: 16px;
  font-family: sans-serif;
  padding-bottom: 5px;
  }

  .amigos > section:nth-child(2) p {
    font-size: 14px;
    font-family: sans-serif;
    
  }
  /* Fin amigos */

#info_maria {
 /*  max-width: 50%; */
  display: flex;

}

#info_maria > section:nth-child(1) img {
  max-width: 60%;
  border-radius: 50%;
  padding: 15px;
  align-self: center;
}

#info_maria > section:nth-child(1) {
  padding: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
}

#info_maria > section:nth-child(2) h2 {
  font-size: 14px;
}

#info_maria > section:nth-child(2) p {
  font-size: 10px;
  
}


/* .amigos img {

  max-width: 25%;
  border-radius: 50%;
} */

/* flex item of aside */
.estado_del_usuario {
  display: flex;
  justify-content:space-between;
 
  border: solid 1px gray;
/*   margin: 1px; */
}


.iconos_maria {
  padding: 30px;
  max-width: 50%;
}



/*_______________________ Inicio nuevo chat ______________________*/
#nuevo_chat {
  height: 130px; 
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #E5E4E2;
}

#nuevo_chat section {
  padding: 20px 50px;
  background-color: #A491D2;
  font-size: 16px;
}

#nuevo_chat section a{
color: white;
text-decoration: none;
}
/*_____________ Fin nuevo chat_______________________________ */


/*>>>>>>>>>>>>>>> inicio comienza el networking >>>>>>>>>>>>*/
#comienza_el_networking {
  display: flex;
  flex-direction: column;
  background-color: #e5e4e2;
  flex: 0 0 85%;
  align-items: center;
  justify-content: center;
}

#comienza_el_networking > section:nth-child(1) > img {
  width: 300px;
}

#comienza_el_networking > section:nth-child(2) {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#comienza_el_networking > section:nth-child(2) > h1 {
  font-size: 45px;
  padding-bottom: 10px;
}

#comienza_el_networking > section:nth-child(2) > p {
  line-height: 1.6;
}
/*>>>>>>>>>>>>>>>>>>> Fin comienza el networking >>>>>>>>>>>>>>>> */

.negrita {
  font-weight: bold;
}
