body {
  font-family: "Open Sans", sans-serif;
}

main {
  /* main as flex container */
  display: flex;
  /*     Min height 100vh means the element should occupy the web browser viewport height. 
    This is always 100 percent of the web browser's viewport height. */
  min-height: 100vh;
}

/* flex item of main */
aside {
  /* aside as flex container */
  display: flex;
  align-items: center;
  flex-direction: column;
  /* Platinium color */
  background-color: white;
  flex: 0 0 20%;
}

.amigos {
    justify-content: space-between;
    /* background-color: aqua; */
    border: solid 1px gray;
    /* margin: 1px; */
    padding: 5px;
    display: flex;
 
  }

  .amigos > section:nth-child(1) {
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    
  }

  .amigos > section:nth-child(1) > img {
    padding: 15px;
    
    
  }

#info_maria {
 /*  max-width: 50%; */
  display: flex;

}

#info_maria > section:nth-child(1) img {
  max-width: 25%;
  border-radius: 50%;
  padding: 15px;
  align-self: center;
}

#info_maria > section:nth-child(1) {
  padding: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
}

#info_maria > section:nth-child(2) h2 {
  font-size: 14px;
}

#info_maria > section:nth-child(2) p {
  font-size: 10px;
  
}


.amigos img {

  max-width: 25%;
  border-radius: 50%;
}

/* flex item of aside */
.estado_del_usuario {
  display: flex;
  justify-content:space-between;
 
  border: solid 1px gray;
/*   margin: 1px; */
}


.iconos_maria {
  padding: 30px;
  max-width: 50%;
}


.nuevo_chat {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nuevo_chat section {
  padding: 15px 60px;
  background-color: #A491D2;
  font-size: 20px;
}

.nuevo_chat section a{
color: white;
text-decoration: none;
}


/* flex item of main */
#contenedor_chat {
  display: flex;
  flex-direction: column;
  background-color: #e5e4e2;
  flex: 0 0 80%;
  align-items: center;
  justify-content: center;
}

#contenedor_chat > section:nth-child(1) > img {
  width: 300px;
}

#contenedor_chat > section:nth-child(2) {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#contenedor_chat > section:nth-child(2) > h1 {
  font-size: 45px;
  padding-bottom: 10px;
}

#contenedor_chat > section:nth-child(2) > p {
  line-height: 1.6;
}

.negrita {
  font-weight: bold;
}
